<head>
    <style>
        .nav-item.hover-zoom:hover {
            transform: scale(1.1);
            transition: transform 0.2s;
            cursor: pointer;
            background-color: aliceblue;
        }
        .nav-link.hover-zoom:hover {
            transform: scale(1.1);
            transition: transform 0.2s;
            cursor: pointer;
            background-color: inherit;
        }
        .navbar-nav {
            justify-content: center;
        }
        .navbar-nav .nav-item {
            margin-right: 20px;
        }
    </style>
</head>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-blue" style="height: 80px;">
        <a class="navbar-brand" style="color: aliceblue;" href="#">E-Learning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link hover-zoom" style="color: aliceblue;" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-zoom" style="color: aliceblue;" href="#">Lessons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-zoom" style="color: aliceblue;" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-zoom" style="color: aliceblue;" href="#">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn bg-light btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="navbar-nav ml-auto">
                <a class="nav-link hover-zoom" style="color: aliceblue;" href="#">Login</a>
            </div>
        </div>
    </nav>
    
    
    
    </nav>
    
    
</header>