<nav>
    <ul class="row">
        <li class="col"><a href="/">Home</a></li>
        <li class="col"><a href="/login">Login</a></li>
        <li class="col"><a href="/signup">Signup</a></li>
    </ul>
</nav>