<html> 
    <head> 
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/bootstrap.min.js"></script>
    </head>
    <%- include('../partials/head') %>
    <body>
        <main>
            <%- body %>
        </main>
    </body>
</html>