<%- include('./partials/header') %>

<section>
    <div class="container d-flex justify-content-center align-items-center" style="margin-top: 100px;">
        <!-- Main Container -->
        <div class="row  contact-container">
            <div class="header-text mt-0 mb-1 w-100 d-flex flex-column justify-content-center align-items-center">
                <p style="margin-left: 0px; margin-top: 2px; color: #08343c; font-size: 50px; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Contactez Nous</p>
                <p style="color: rgb(175, 175, 175);">Des question ou des remarques? Envoyez-nous simplement un message!</p>
            </div>
            <!-- Left Container -->
            <div class="col-lg-6 mt-3 p-5 left-container" style="background-color: #08343c;border-radius: 10px;">
                <div class="mt-5 mb-4 w-100">
                    <span style="color: #ffffff; font-size: 20px;"><i class="fa-solid fa-phone-volume" style="color: #ffffff; font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;(216) 98 97 60 95</span>
                </div>
                <div class="mb-4 w-100">
                    <span style="color: #ffffff; font-size: 20px;"><i class="fa-solid fa-envelope" style="color: #ffffff; font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;welcome@alveodata.net</span>
                </div>
                <div class="mb-4 w-100">
                    <span style="color: #ffffff; font-size: 20px;"><i class="fa-solid fa-location-dot" style="color: #ffffff; font-size: 20px;"></i>&nbsp;&nbsp;&nbsp; R6, imm Hassen CHAOUECH MONASTIR 5000 - TUNISIA</span>
                </div>
                <div class="mb-3 mt-4 w-100">
                    <p style="margin-left: 0px; margin-top: 2px; color: #ffffff; font-size: 33px; font-weight:600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Suivez-nous</p>
                </div>
                <div class="row w-100 d-flex justify-content-between mt-3">
                    <div class="col-6">
                        <span style="color: #ffffff; display: flex; flex-direction: row;">
                            <i class="fa-brands fa-instagram" style="color: #00dfc0; font-size: 37px;transform: translateY(-3px);"></i>&nbsp;&nbsp;
                            <div style="border: 2px #00dfc0 solid; width: 32px; height: 32px; border-radius: 5px; padding: 2px;"><i class="fa-brands fa-linkedin-in" style="color: #00dfc0; font-size: 25px;"></i></div>&nbsp;&nbsp;
                            <div style="border: 2px #00dfc0 solid; width: 32px; height: 32px; border-radius: 5px; padding: 2px; justify-content: flex-end; align-items: flex-end;"><i class="fa-brands fa-facebook-f" style="color: #00dfc0; font-size: 25px; margin-left: 32%;"></i></div>&nbsp;&nbsp;
                            <div style="border: 2px #00dfc0 solid; width: 32px; height: 32px; border-radius: 5px; padding: 2px;"><i class="fa-brands fa-x-twitter" style="color: #00dfc0; font-size: 25px;"></i></div>
                        </span>
                    </div>
                    <div class="rounded-circle" style="background-color: white; height: 150px; width: 150px;"> 
                        <div class="rounded-circle" style="background-color: #00dfc0; height: 75px; width: 75px; margin-top: 85px; margin-right: 200px; overflow: visible;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-0 p-5 right-container">
                <div class="mb-5 d-flex flex-row" style="gap: 20px;">
                    <div class="input-group">
                        <input type="text" placeholder="Prénom" class="form-control form-control-lg bg-light">
                    </div>
                    <div class="input-group">
                        <input type="text" placeholder="Nom" class="form-control form-control-lg bg-light">
                    </div>
                </div>
                <div class="mb-5 d-flex flex-row" style="gap: 20px;">
                    <div class="input-group">
                        <input type="text" placeholder="Email" class="form-control form-control-lg bg-light">
                    </div>
                    <div class="input-group">
                        <input type="text" placeholder="Numéro de Téléphone" value="+216" class="form-control form-control-lg bg-light">
                    </div>
                </div>
                <div class="form-group mb-5">
                    <textarea class="form-control form-control-lg bg-light" placeholder="Entrer votre message" rows="3"></textarea>
                </div>
                <button class="btn btn-lg btn-primary w-50 fs-6 align-self-lg-start" style="background-color: #00dfc0; border: 1px #00dfc0; margin-left: 200px;">Envoyer&nbsp;&nbsp;<i class="fa-regular fa-paper-plane" style="color: #ffffff;"></i></button>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>