<div class="container-fluid " style="margin-top: 40px;">
    <div class="row flex-nowrap">
     
    
    
      <%- include ('./partials/sidebar') %>

     

        <div class="col py-3 " >
            <div class="container py-5 ">


<div class="row d-flex " style="height: max-content; margin-top: 20px;" >

      <div class="col-lg-4">
        <div class="card shadow-5-strong hover-card" style="max-width: 23rem;">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://i.ibb.co/zNL0Lhj/pexels-tima-miroshnichenko-5380664.jpg" alt="programming-background-collage" class="img-fluid" />
            <a href="/examplecourspage">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <p style="color: #727677;font-size: small;">01/09/2023</p>
            <h5 class="card-title font-weight-bold" style="font-size: larger;"><a>Course title</a></h5>
            <ul class="list-unstyled list-inline mb-0">
              <li class="list-inline-item me-0">
                <i class="fas fa-star text-warning fa-xs"> </i>
              </li>
              <li class="list-inline-item me-0">
                <i class="fas fa-star text-warning fa-xs"></i>
              </li>
              <li class="list-inline-item me-0">
                <i class="fas fa-star text-warning fa-xs"></i>
              </li>
              <li class="list-inline-item me-0">
                <i class="fas fa-star text-warning fa-xs"></i>
              </li>
              <li class="list-inline-item">
                <i class="fas fa-star-half-alt text-warning fa-xs"></i>
              </li>
              <li class="list-inline-item">
                <p class="text-muted">3 </p>
              </li>
            </ul>
           <div class="d-flex inline-item">
            <i class="far fa-clock"></i><p style="font-size: small; margin-left: 10px;">2h</p>   
          </div>
          <div class="d-flex inline-item">
            <i class="far fa-user"></i><p style="font-size: small; margin-left: 10px;">2000 vues</p>   
          </div>
       
            <button class="btn" style="background-color:#023434;margin-left: 160px;color:rgb(255, 255, 255);">Voir facture</button>
      
            
        </div>
          </div>
         
    
    </div>


       
            <div class="col-lg-4">
              <div class="card shadow-5-strong hover-card" style="max-width: 23rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="https://i.ibb.co/zNL0Lhj/pexels-tima-miroshnichenko-5380664.jpg" alt="programming-background-collage" class="img-fluid" />
                  <a href="/examplecourspage">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <p style="color: #727677;font-size: small;">01/09/2023</p>
                  <h5 class="card-title font-weight-bold" style="font-size: larger;"><a>Course title</a></h5>
                  <ul class="list-unstyled list-inline mb-0">
                    <li class="list-inline-item me-0">
                      <i class="fas fa-star text-warning fa-xs"> </i>
                    </li>
                    <li class="list-inline-item me-0">
                      <i class="fas fa-star text-warning fa-xs"></i>
                    </li>
                    <li class="list-inline-item me-0">
                      <i class="fas fa-star text-warning fa-xs"></i>
                    </li>
                    <li class="list-inline-item me-0">
                      <i class="fas fa-star text-warning fa-xs"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star-half-alt text-warning fa-xs"></i>
                    </li>
                    <li class="list-inline-item">
                      <p class="text-muted">3 </p>
                    </li>
                  </ul>
                 <div class="d-flex inline-item">
                  <i class="far fa-clock"></i><p style="font-size: small; margin-left: 10px;">2h</p>   
                </div>
                <div class="d-flex inline-item">
                  <i class="far fa-user"></i><p style="font-size: small; margin-left: 10px;">2000 vues</p>   
                </div>
             
                  <button class="btn" style="background-color:#023434;margin-left: 160px;color:rgb(255, 255, 255);">Voir facture</button>
            
                  
                </div>
          </div>
          </div>


       
          <div class="col-lg-4">
            <div class="card shadow-5-strong hover-card" style="max-width: 23rem;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://i.ibb.co/zNL0Lhj/pexels-tima-miroshnichenko-5380664.jpg" alt="programming-background-collage" class="img-fluid" />
                <a href="/examplecourspage">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <p style="color: #727677;font-size: small;">01/09/2023</p>
                <h5 class="card-title font-weight-bold" style="font-size: larger;"><a>Course title</a></h5>
                <ul class="list-unstyled list-inline mb-0">
                  <li class="list-inline-item me-0">
                    <i class="fas fa-star text-warning fa-xs"> </i>
                  </li>
                  <li class="list-inline-item me-0">
                    <i class="fas fa-star text-warning fa-xs"></i>
                  </li>
                  <li class="list-inline-item me-0">
                    <i class="fas fa-star text-warning fa-xs"></i>
                  </li>
                  <li class="list-inline-item me-0">
                    <i class="fas fa-star text-warning fa-xs"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star-half-alt text-warning fa-xs"></i>
                  </li>
                  <li class="list-inline-item">
                    <p class="text-muted">3 </p>
                  </li>
                </ul>
               <div class="d-flex inline-item">
                <i class="far fa-clock"></i><p style="font-size: small; margin-left: 10px;">2h</p>   
              </div>
              <div class="d-flex inline-item">
                <i class="far fa-user"></i><p style="font-size: small; margin-left: 10px;">2000 vues</p>   
              </div>
           
                <button class="btn" style="background-color:#023434;margin-left: 160px;color:rgb(255, 255, 255);">Voir facture</button>
          
                
              </div>
        </div>
        </div>


        
       
        <div class="col-lg-4">
          <div class="card shadow-5-strong hover-card" style="max-width: 23rem;">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://i.ibb.co/zNL0Lhj/pexels-tima-miroshnichenko-5380664.jpg" alt="programming-background-collage" class="img-fluid" />
              <a href="/examplecourspage">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <p style="color: #727677;font-size: small;">01/09/2023</p>
              <h5 class="card-title font-weight-bold" style="font-size: larger;"><a>Course title</a></h5>
              <ul class="list-unstyled list-inline mb-0">
                <li class="list-inline-item me-0">
                  <i class="fas fa-star text-warning fa-xs"> </i>
                </li>
                <li class="list-inline-item me-0">
                  <i class="fas fa-star text-warning fa-xs"></i>
                </li>
                <li class="list-inline-item me-0">
                  <i class="fas fa-star text-warning fa-xs"></i>
                </li>
                <li class="list-inline-item me-0">
                  <i class="fas fa-star text-warning fa-xs"></i>
                </li>
                <li class="list-inline-item">
                  <i class="fas fa-star-half-alt text-warning fa-xs"></i>
                </li>
                <li class="list-inline-item">
                  <p class="text-muted">3 </p>
                </li>
              </ul>
             <div class="d-flex inline-item">
              <i class="far fa-clock"></i><p style="font-size: small; margin-left: 10px;">2h</p>   
            </div>
            <div class="d-flex inline-item">
              <i class="far fa-user"></i><p style="font-size: small; margin-left: 10px;">2000 vues</p>   
            </div>
         
              <button class="btn" style="background-color:#023434;margin-left: 160px;color:rgb(255, 255, 255);">Voir facture</button>
        
              
            </div>
      </div>
      </div>
                


              </div>
            </div>


</div>
</div>
</div>



<%- include('./partials/footer') %>
