<%- include('./partials/header') %>
<head> 
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/.../font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/all.min.js"></script>
    <style>
      @import url('https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbUVWNXZpZmkzTXFkbGhZd3M2VnBOYjljc0dmUXxBQ3Jtc0tsaXVDNmRHcW05a3NIWnE2Rnhxel9VRU96NjhzOHFkWThLSy1LNktQUklPZHJ1NzY1Qjl5SGt6SjRiYU5jVTBIaUxESUJRUDBLNTRMU2NSYndlZkhUa3RGejM4eGFTYVNCTnhxekI1a2hYR3VOWkFMOA&q=https%3A%2F%2Ffonts.googleapis.com%2Fcss2%3Ffamily%3DPoppins%3Awght%40400%3B500%26display%3Dswap%27%29%3B&v=oF28ns9eVdc');

      body{
          background-color: #ececec;
      }

      .box-area{
          width: 1200px;
      }

      .register-hover:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    </style>
    <script>
      function showpasswd(){
        const showPassword = document.querySelector("#show-password")
        const passwordField = document.querySelector("#passwordField")
        if(!showPassword.classList.contains("fa-eye-slash")){
          showPassword.classList.remove("fa-eye")
          showPassword.classList.toggle("fa-regular")
          showPassword.classList.add("fa-eye-slash")
        }
        else{
          showPassword.classList.remove("fa-eye-slash")
          showPassword.classList.toggle("fa-regular")
          showPassword.classList.add("fa-eye")
        }
        const type = passwordField.getAttribute("type") === "password" ? "text" : "password"
        passwordField.setAttribute("type", type) 
      }
    </script>
</head>
<section>
    <!------------------------ Main Container ------------------------>
    <div class="container d-flex justify-content-center align-items-center min-vh-100" style="overflow: hidden; transform: translateY(-20px); background-color: white;">
    <!------------------------ Login Container ------------------------>
        <div class="row border p-3 bg-white shadow box-area" style="border-radius: 15px; box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 15px, rgba(0, 0, 0, 0.12) 0px -12px 20px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">

        <!------------------------ Right Box ------------------------>
        <div class="col-md-6 right-box p-5">
        <div class="row d-flex flex-column justify-content-center align-items-center" style="width: 90%;">
            <div class="header-text mb-4 w-100 d-flex flex-column justify-content-center align-items-center ">
            <p style="font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #013239; font-size: 33px; margin-inline: 50px;">Se Connecter</p>
            </div>
            <div class="input-group mb-4 mx-5">
            <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email Address">
            </div>
            <div class="input-group mb-2 mx-5">
            <input type="password" class="form-control form-control-lg bg-light fs-6" id="passwordField" placeholder="Password">
            <label for="passwordField"><i class="fa-regular fa-eye" id="show-password" onclick="showpasswd()" style="font-size: 22px; position: absolute; top: 28%; right: 4%; cursor: pointer; color: lightgray;"></i></label>
            </div>
            <div class="input-group mb-5 mt-2 d-flex justify-content-between">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="formCheck">
                <label for="formCheck">Remember Me</label>
            </div>
            <div class="forgot mt-1">
                <small><a href="#">Mot De Passe Oubliée?</a></small>
            </div>
            </div>
            <div class="input-group mb-3">
            <button class="btn btn-lg btn-primary w-100 fs-6" style="background-color: #00dfc0; border: 1px #00dfc0;">Connecter</button>
            </div>
            <div class="register mb-3">
            <p class="register-hover" style="font-size: 18px; color: #06ddc1;">vous n'avez pas de compte ? S'inscrire</p>
            </div>
        </div>
        </div>
        <!------------------------ Left Box ------------------------>
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column md-6 left-box" style="border-radius: 15px;">
        <div class="featured-image mt-1 mb-1" >
            <img class="img-fluid" src="https://i.ibb.co/Jc7CFdx/Whats-App-Image-2023-09-08-at-23-00-19.jpg" alt="Whats-App-Image-2023-09-08-at-23-00-19" border="0" style="width: 500px; border-radius: 15px;">
        </div>
        </div>
        
    </div>
    </div>
</section>

<%- include('./partials/footer') %>