
<nav class="navbar navbar-expand-xl fixed-top " style="height: 80px; z-index: 99;background-color: #ffffff;">
    <div class="container-fluid " >
        <a class="navbar-brand " href="/">
        <img src="https://i.ibb.co/Wtc9H7m/logo-1-removebg-preview-removebg-preview.png" alt="logo-1-removebg-preview-removebg-preview" alt="logo"  style="width:250px; height: 50px;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse " id="collapsibleNavbar" style="background-color: #ffffff;">
        <ul class="navbar-nav" style="transform: translateX(50px);">
          <li class="nav-item">
            <a class="nav-link " href="/">Accueil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" href="/cours" data-bs-toggle="dropdown" >Cours</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/cours/tous">Tous</a></li>
              <li><a class="dropdown-item" href="/cours/dev">Développement</a></li>
              <li><a class="dropdown-item" href="/cours/design">Design UI/UX</a></li>
              <li><a class="dropdown-item" href="/cours/data_science">Data science</a></li>
              <li><a class="dropdown-item" href="/cours/marketing">Marketing</a></li>
              <li><a class="dropdown-item" href="/cours/business">Business</a></li>
              <li><a class="dropdown-item" href="/cours/cyber_securite">CyberSécurité</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link "  href="/contact" >Contact</a>
          </li>
        </ul>
        
          <div class="input-group" style="transform: translateX(80px);width: 280px;" >
            <div class="form-outline">
              <input id="search-focus" type="search" id="form1" class="form-control" />
              <label class="form-label" for="form1">Rechercher</label>
            </div>
            <button type="button" class="btn" style="background: lightseagreen 75%;">
              <i class="fas fa-search fa-xl"></i>
            </button>
          </div>
        
        
        <div class="d-flex justify-content-end" style="gap: 20px; margin-top: 25px;margin-left: 200px;">
            <a id="myregistermodal"  class="nav-bar-a" style="font-size: medium;color: black;"><i class="fas fa-user-plus" style="margin-right: 5px;"></i>S'inscrire</a><br><br>
            <a  id="myloginmodal" class="nav-bar-a" style="font-size: medium;color: black;"><i class="fas fa-right-to-bracket" style="margin-right: 5px;" ></i>Se connecter</a>
        </div> 
    
      </div>
    </div>
  </nav>




  <!--MODAL login-->
<div class="modal"  id="loginmodal" >
  <div class="modal-dialog modal-xl modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" id="closeModallogin" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row">

          <!------------------------ Right Box ------------------------>
        <div class="col-md-6 right-box p-5" >
          <div class="row d-flex flex-column justify-content-center align-items-center">
            <div class="header-text mb-4 w-100 d-flex flex-column justify-content-center align-items-center ">
              <p style="font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #013239; font-size: 33px; margin-inline: 50px;">Se Connecter</p>
            </div>
            <div class="input-group mb-4 mx-5">
              <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email Address">
            </div>
            <div class="input-group mb-2 mx-5">
              <input type="password" class="form-control form-control-lg bg-light fs-6" id="passwordField" placeholder="Password">
              <label for="passwordField"><i class="fa-regular fa-eye" id="show-password" onclick="showpasswd()" style="font-size: 22px; position: absolute; top: 28%; right: 4%; cursor: pointer; color: #2ceded;"></i></label>
            </div>
            <div class="input-group mb-5 mt-2 d-flex justify-content-between">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="formCheck">
                <label for="formCheck">Se souvenir de moi</label>
              </div>
              <div class="forgot mt-1">
                <small><a href="#">Mot De Passe Oublié?</a></small>
              </div>
            </div>
            <div class="input-group mb-3">
              <button class="btn btn-lg btn-primary w-100 fs-6" style="background-color: #00dfc0; border: 1px #00dfc0;">Se Connecter</button>
            </div>
            <div class="mb-3" style="margin-top: 20px;">
              <a   id="myregistermodal" class="register-hover" style="font-size: 18px; color: #06ddc1;">Vous n'avez pas un compte ? S'inscrire</a>
            </div>
          </div>
        </div>
        <!------------------------ Left Box ------------------------>
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column md-6 left-box" style="border-radius: 15px;">
          <div class="featured-image mt-1 mb-1" >
            <img class="img-fluid" src="https://i.ibb.co/JxTSZfq/3094352.jpg"  alt="Whats-App-Image-2023-09-08-at-23-00-19" style="width: 500px; border-radius: 15px;">
          </div>
        </div>
        
      </div>
</div>
    </div>
  </div>
</div>

  

  <!--MODAL register-->

  <div class="modal"  id="registermodal" >
    <div class="modal-dialog modal-xl modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" id="closeModalregister" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
         <!-- Singup Container -->
    <div class="row">
      <div class="header-text mt-2 mb-2 w-100 d-flex flex-column justify-content-center align-items-center">
          <p style="margin-left: 0px; margin-top: 10px; color: #013239; font-size: 33px; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Créer un compte</p>
      </div>
      
      <!-- Left Container -->
      <div class="col-md-4 p-5 left-container">
          <div class="row d-flex flex-column justify-content-center-align-items-center">
              <div class="input-group mb-4 me-4">
                  <input type="text" placeholder="Nom" class="form-control form-control-lg bg-light">
              </div>
              <div class="input-group mb-4 me-4">
                  <input type="text" placeholder="Prénom" class="form-control form-control-lg bg-light">
              </div>
              <div class="input-group mb-4 me-4">
                  <input id="startDate" class="form-control form-control-lg bg-light" type="date" />
              </div>
              <div class="input-group mb-4 me-4">
                  <select class="form-select form-control form-control-lg bg-light" id="country" name="country" aria-label="Default select example">
                      <option>Choisir pays</option>
                      <option value="AF">Afghanistan</option>
                      <option value="AX">Aland Islands</option>
                      <option value="AL">Albania</option>
                      <option value="DZ">Algeria</option>
                      <option value="AS">American Samoa</option>
                      <option value="AD">Andorra</option>
                      <option value="AO">Angola</option>
                      <option value="AI">Anguilla</option>
                      <option value="AQ">Antarctica</option>
                      <option value="AG">Antigua and Barbuda</option>
                      <option value="AR">Argentina</option>
                      <option value="AM">Armenia</option>
                      <option value="AW">Aruba</option>
                      <option value="AU">Australia</option>
                      <option value="AT">Austria</option>
                      <option value="AZ">Azerbaijan</option>
                      <option value="BS">Bahamas</option>
                      <option value="BH">Bahrain</option>
                      <option value="BD">Bangladesh</option>
                      <option value="BB">Barbados</option>
                      <option value="BY">Belarus</option>
                      <option value="BE">Belgium</option>
                      <option value="BZ">Belize</option>
                      <option value="BJ">Benin</option>
                      <option value="BM">Bermuda</option>
                      <option value="BT">Bhutan</option>
                      <option value="BO">Bolivia</option>
                      <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                      <option value="BA">Bosnia and Herzegovina</option>
                      <option value="BW">Botswana</option>
                      <option value="BV">Bouvet Island</option>
                      <option value="BR">Brazil</option>
                      <option value="IO">British Indian Ocean Territory</option>
                      <option value="BN">Brunei Darussalam</option>
                      <option value="BG">Bulgaria</option>
                      <option value="BF">Burkina Faso</option>
                      <option value="BI">Burundi</option>
                      <option value="KH">Cambodia</option>
                      <option value="CM">Cameroon</option>
                      <option value="CA">Canada</option>
                      <option value="CV">Cape Verde</option>
                      <option value="KY">Cayman Islands</option>
                      <option value="CF">Central African Republic</option>
                      <option value="TD">Chad</option>
                      <option value="CL">Chile</option>
                      <option value="CN">China</option>
                      <option value="CX">Christmas Island</option>
                      <option value="CC">Cocos (Keeling) Islands</option>
                      <option value="CO">Colombia</option>
                      <option value="KM">Comoros</option>
                      <option value="CG">Congo</option>
                      <option value="CD">Congo, Democratic Republic of the Congo</option>
                      <option value="CK">Cook Islands</option>
                      <option value="CR">Costa Rica</option>
                      <option value="CI">Cote D'Ivoire</option>
                      <option value="HR">Croatia</option>
                      <option value="CU">Cuba</option>
                      <option value="CW">Curacao</option>
                      <option value="CY">Cyprus</option>
                      <option value="CZ">Czech Republic</option>
                      <option value="DK">Denmark</option>
                      <option value="DJ">Djibouti</option>
                      <option value="DM">Dominica</option>
                      <option value="DO">Dominican Republic</option>
                      <option value="EC">Ecuador</option>
                      <option value="EG">Egypt</option>
                      <option value="SV">El Salvador</option>
                      <option value="GQ">Equatorial Guinea</option>
                      <option value="ER">Eritrea</option>
                      <option value="EE">Estonia</option>
                      <option value="ET">Ethiopia</option>
                      <option value="FK">Falkland Islands (Malvinas)</option>
                      <option value="FO">Faroe Islands</option>
                      <option value="FJ">Fiji</option>
                      <option value="FI">Finland</option>
                      <option value="FR">France</option>
                      <option value="GF">French Guiana</option>
                      <option value="PF">French Polynesia</option>
                      <option value="TF">French Southern Territories</option>
                      <option value="GA">Gabon</option>
                      <option value="GM">Gambia</option>
                      <option value="GE">Georgia</option>
                      <option value="DE">Germany</option>
                      <option value="GH">Ghana</option>
                      <option value="GI">Gibraltar</option>
                      <option value="GR">Greece</option>
                      <option value="GL">Greenland</option>
                      <option value="GD">Grenada</option>
                      <option value="GP">Guadeloupe</option>
                      <option value="GU">Guam</option>
                      <option value="GT">Guatemala</option>
                      <option value="GG">Guernsey</option>
                      <option value="GN">Guinea</option>
                      <option value="GW">Guinea-Bissau</option>
                      <option value="GY">Guyana</option>
                      <option value="HT">Haiti</option>
                      <option value="HM">Heard Island and Mcdonald Islands</option>
                      <option value="VA">Holy See (Vatican City State)</option>
                      <option value="HN">Honduras</option>
                      <option value="HK">Hong Kong</option>
                      <option value="HU">Hungary</option>
                      <option value="IS">Iceland</option>
                      <option value="IN">India</option>
                      <option value="ID">Indonesia</option>
                      <option value="IR">Iran, Islamic Republic of</option>
                      <option value="IQ">Iraq</option>
                      <option value="IE">Ireland</option>
                      <option value="IM">Isle of Man</option>
                      <option value="IT">Italy</option>
                      <option value="JM">Jamaica</option>
                      <option value="JP">Japan</option>
                      <option value="JE">Jersey</option>
                      <option value="JO">Jordan</option>
                      <option value="KZ">Kazakhstan</option>
                      <option value="KE">Kenya</option>
                      <option value="KI">Kiribati</option>
                      <option value="KP">Korea, Democratic People's Republic of</option>
                      <option value="KR">Korea, Republic of</option>
                      <option value="XK">Kosovo</option>
                      <option value="KW">Kuwait</option>
                      <option value="KG">Kyrgyzstan</option>
                      <option value="LA">Lao People's Democratic Republic</option>
                      <option value="LV">Latvia</option>
                      <option value="LB">Lebanon</option>
                      <option value="LS">Lesotho</option>
                      <option value="LR">Liberia</option>
                      <option value="LY">Libyan Arab Jamahiriya</option>
                      <option value="LI">Liechtenstein</option>
                      <option value="LT">Lithuania</option>
                      <option value="LU">Luxembourg</option>
                      <option value="MO">Macao</option>
                      <option value="MK">Macedonia, the Former Yugoslav Republic of</option>
                      <option value="MG">Madagascar</option>
                      <option value="MW">Malawi</option>
                      <option value="MY">Malaysia</option>
                      <option value="MV">Maldives</option>
                      <option value="ML">Mali</option>
                      <option value="MT">Malta</option>
                      <option value="MH">Marshall Islands</option>
                      <option value="MQ">Martinique</option>
                      <option value="MR">Mauritania</option>
                      <option value="MU">Mauritius</option>
                      <option value="YT">Mayotte</option>
                      <option value="MX">Mexico</option>
                      <option value="FM">Micronesia, Federated States of</option>
                      <option value="MD">Moldova, Republic of</option>
                      <option value="MC">Monaco</option>
                      <option value="MN">Mongolia</option>
                      <option value="ME">Montenegro</option>
                      <option value="MS">Montserrat</option>
                      <option value="MA">Morocco</option>
                      <option value="MZ">Mozambique</option>
                      <option value="MM">Myanmar</option>
                      <option value="NA">Namibia</option>
                      <option value="NR">Nauru</option>
                      <option value="NP">Nepal</option>
                      <option value="NL">Netherlands</option>
                      <option value="AN">Netherlands Antilles</option>
                      <option value="NC">New Caledonia</option>
                      <option value="NZ">New Zealand</option>
                      <option value="NI">Nicaragua</option>
                      <option value="NE">Niger</option>
                      <option value="NG">Nigeria</option>
                      <option value="NU">Niue</option>
                      <option value="NF">Norfolk Island</option>
                      <option value="MP">Northern Mariana Islands</option>
                      <option value="NO">Norway</option>
                      <option value="OM">Oman</option>
                      <option value="PK">Pakistan</option>
                      <option value="PW">Palau</option>
                      <option value="PS">Palestine</option>
                      <option value="PA">Panama</option>
                      <option value="PG">Papua New Guinea</option>
                      <option value="PY">Paraguay</option>
                      <option value="PE">Peru</option>
                      <option value="PH">Philippines</option>
                      <option value="PN">Pitcairn</option>
                      <option value="PL">Poland</option>
                      <option value="PT">Portugal</option>
                      <option value="PR">Puerto Rico</option>
                      <option value="QA">Qatar</option>
                      <option value="RE">Reunion</option>
                      <option value="RO">Romania</option>
                      <option value="RU">Russian Federation</option>
                      <option value="RW">Rwanda</option>
                      <option value="BL">Saint Barthelemy</option>
                      <option value="SH">Saint Helena</option>
                      <option value="KN">Saint Kitts and Nevis</option>
                      <option value="LC">Saint Lucia</option>
                      <option value="MF">Saint Martin</option>
                      <option value="PM">Saint Pierre and Miquelon</option>
                      <option value="VC">Saint Vincent and the Grenadines</option>
                      <option value="WS">Samoa</option>
                      <option value="SM">San Marino</option>
                      <option value="ST">Sao Tome and Principe</option>
                      <option value="SA">Saudi Arabia</option>
                      <option value="SN">Senegal</option>
                      <option value="RS">Serbia</option>
                      <option value="CS">Serbia and Montenegro</option>
                      <option value="SC">Seychelles</option>
                      <option value="SL">Sierra Leone</option>
                      <option value="SG">Singapore</option>
                      <option value="SX">Sint Maarten</option>
                      <option value="SK">Slovakia</option>
                      <option value="SI">Slovenia</option>
                      <option value="SB">Solomon Islands</option>
                      <option value="SO">Somalia</option>
                      <option value="ZA">South Africa</option>
                      <option value="GS">South Georgia and the South Sandwich Islands</option>
                      <option value="SS">South Sudan</option>
                      <option value="ES">Spain</option>
                      <option value="LK">Sri Lanka</option>
                      <option value="SD">Sudan</option>
                      <option value="SR">Suriname</option>
                      <option value="SJ">Svalbard and Jan Mayen</option>
                      <option value="SZ">Swaziland</option>
                      <option value="SE">Sweden</option>
                      <option value="CH">Switzerland</option>
                      <option value="SY">Syrian Arab Republic</option>
                      <option value="TW">Taiwan, Province of China</option>
                      <option value="TJ">Tajikistan</option>
                      <option value="TZ">Tanzania, United Republic of</option>
                      <option value="TH">Thailand</option>
                      <option value="TL">Timor-Leste</option>
                      <option value="TG">Togo</option>
                      <option value="TK">Tokelau</option>
                      <option value="TO">Tonga</option>
                      <option value="TT">Trinidad and Tobago</option>
                      <option value="TN">Tunisie</option>
                      <option value="TR">Turkey</option>
                      <option value="TM">Turkmenistan</option>
                      <option value="TC">Turks and Caicos Islands</option>
                      <option value="TV">Tuvalu</option>
                      <option value="UG">Uganda</option>
                      <option value="UA">Ukraine</option>
                      <option value="AE">United Arab Emirates</option>
                      <option value="GB">United Kingdom</option>
                      <option value="US">United States</option>
                      <option value="UM">United States Minor Outlying Islands</option>
                      <option value="UY">Uruguay</option>
                      <option value="UZ">Uzbekistan</option>
                      <option value="VU">Vanuatu</option>
                      <option value="VE">Venezuela</option>
                      <option value="VN">Viet Nam</option>
                      <option value="VG">Virgin Islands, British</option>
                      <option value="VI">Virgin Islands, U.s.</option>
                      <option value="WF">Wallis and Futuna</option>
                      <option value="EH">Western Sahara</option>
                      <option value="YE">Yemen</option>
                      <option value="ZM">Zambia</option>
                      <option value="ZW">Zimbabwe</option>
                  </select>
              </div>
              <div class="input-group mb-4 me-4">
                  <select class="form-select form-control form-control-lg bg-light" id="niveau" name="niveau" aria-label="Default select example">
                      <option selected>Niveau Académique</option>
                      <option value="1">Bac</option>
                      <option value="2">Bac+3</option>
                      <option value="3">Bac+4</option>
                      <option value="4">Bac+5</option>
                      <option value="5">Bac+8</option>
                   
                    </select>
              </div>
          </div>
      </div>


      <!-- Middle Container -->
      <div class="col-md-4 d-flex flex-column justify-content-center align-items-center middle-container">
          <div class="featured-image  mb-6">
              <img src="https://i.ibb.co/Fm2JdQJ/4957412-Mobile-login-Cristina.jpg" alt="image-2023-09-10-233241560" style="width: 350px; border-radius: 15px;">
          </div>
          
            <div class="d-flex" style="gap: 15px;margin-bottom: 50px;">
              <div class="mx-3">
                  <input type="radio" name="gender" id="homme" value="homme">
                  <label style="font-size: 19px;" for="homme">Homme</label>
              </div>
              <div>
                  <input type="radio" name="gender" id="femme" value="femme">
                  <label style="font-size: 19px;" for="femme">Femme</label>
              </div>
            </div>
            <div class="justify-content-center">
              <div style="margin-bottom: 30px;">
                  <button class="btn btn-lg w-100 fs-6" style="background-color: #2ceded; border: 1px #2ceded;color: #ffff;">S'inscrire</button>
              </div>
              <div class="mb-3">
                  <a id="myloginmodal" class="login-hover" style="font-size: 18px; color: #2ceded;">Avez-vous déjà un compte ? Se connecter</a>
                </div>
          </div>
      </div>
      <!-- Right Container -->
      <div class="col-md-4 p-5 right-container">
          <div class="row d-flex flex-column justify-content-center-align-items-center">
              <div class="input-group mb-4 me-5">
                  <select class="form-select form-control form-control-lg bg-light" id="universite" name="universite" aria-label="Default select example">
                      <option selected>Université</option>
                  </select>
              </div>
              <div class="input-group mb-4 me-5">
                  <select class="form-select form-control form-control-lg bg-light" id="diplome" name="diplome" aria-label="Default select example">
                      <option selected>Diplôme</option>
                      <option value="1">Baccalauréat</option>
                      <option value="2">Licence, Licence LMD, licence professionnelle	</option>
                      <option value="3">Maîtrise</option>
                      <option value="4">Master, DEA, DESS, diplôme d'ingénieur	</option>
                      <option value="5">Doctorat, habilitation à diriger des recherches	</option>
                  </select>
              </div>
              <div class="input-group mb-4 me-5">
                  <input type="text" placeholder="Email" class="form-control form-control-lg bg-light">
              </div>
              <div class="input-group mb-4 me-5">
                  <input type="password" placeholder="Mot de passe" style="border-radius: 5px;" id="passwordField1" class="form-control form-control-lg bg-light">
                  <label for="passwordField1"><i class="fa-regular fa-eye" id="show-password1" onclick="showpasswd1()" style="font-size: 15px; position: absolute; top: 28%; right: 6%; cursor: pointer; color: #2ceded;"></i></label>
              </div>
              <div class="input-group mb-4 me-5">
                  <input type="password" id="passwordFieldConfirm" style="border-radius: 5px;" placeholder="Confirmer mot de passe" class="form-control form-control-lg bg-light">
                  <label for="passwordFieldConfirm"><i class="fa-regular fa-eye" id="show-password-confirm" onclick="showpasswdconfirm()" style="font-size: 15px; position: absolute; top: 28%; right: 6%; cursor: pointer; color: #2ceded;"></i></label>
              </div>
          </div>
      </div>
  </div>

  </div>
      </div>
    </div>
  </div>






 <script>
 
//show pass login modal

function showpasswd(){
      const showPassword = document.querySelector("#show-password")
      const passwordField = document.querySelector("#passwordField")
      if(!showPassword.classList.contains("fa-eye-slash")){
        showPassword.classList.remove("fa-eye")
        showPassword.classList.toggle("fa-regular")
        showPassword.classList.add("far fa-eye-slash")
      }
      else{
        showPassword.classList.remove("fa-eye-slash")
        showPassword.classList.toggle("fa-regular")
        showPassword.classList.add("fa-eye")
      }
      const type = passwordField.getAttribute("type") === "password" ? "text" : "password"
      passwordField.setAttribute("type", type) 
    }


//show pass register modal
    function showpasswd1(){
        const showPassword1 = document.querySelector("#show-password1")
        const passwordField1 = document.querySelector("#passwordField1")
        if(!showPassword1.classList.contains("fa-eye-slash")){
          showPassword1.classList.remove("fa-eye")
          showPassword1.classList.toggle("fa-regular")
          showPassword1.classList.add("fa-eye-slash")
        }
        else{
          showPassword1.classList.remove("fa-eye-slash")
          showPassword1.classList.toggle("fa-regular")
          showPassword1.classList.add("fa-eye")
        }
        const type = passwordField1.getAttribute("type") === "password" ? "text" : "password"
        passwordField1.setAttribute("type", type) 
      }

      function showpasswdconfirm(){
        const showPassword = document.querySelector("#show-password-confirm")
        const passwordField = document.querySelector("#passwordFieldConfirm")
        if(!showPassword.classList.contains("fa-eye-slash")){
          showPassword.classList.remove("fa-eye")
          showPassword.classList.toggle("fa-regular")
          showPassword.classList.add("fa-eye-slash")
        }
        else{
          showPassword.classList.remove("fa-eye-slash")
          showPassword.classList.toggle("fa-regular")
          showPassword.classList.add("fa-eye")
        }
        const type = passwordField.getAttribute("type") === "password" ? "text" : "password"
        passwordField.setAttribute("type", type) 
      }



    </script>